DATABASE_URL="file:./dev.db"
SESSION_SECRET="al-hasan-fabric-dev-secret-change-in-production-32chars"
ADMIN_EMAIL="admin@alhasanfabric.com"
ADMIN_PASSWORD="Admin@123"
NEXT_PUBLIC_WHATSAPP_NUMBER="919876543210"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
DEMO_PAYMENTS="true"
PAYTM_MID=""
PAYTM_MERCHANT_KEY=""
PAYTM_WEBSITE="WEBSTAGING"
PAYTM_INDUSTRY_TYPE="Retail"
PAYTM_CHANNEL_ID="WEB"
PAYTM_CALLBACK_URL="http://localhost:3000/api/paytm/callback"
PAYTM_ENV="staging"
