/node_modules
/.next/
/out/
/build
.env
.env*.local
.env.production
prisma/*.db
prisma/*.db-journal
*.tsbuildinfo
node_modules
.next
*.db
*.db-journal
bun.lock
public/uploads/products/*
!public/uploads/products/.gitkeep
